@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录与注册-卷库网</title>
</head>
<body>
    <div>
        @if (ViewBag.viewType == "register")
        {
            
        }
        else if (ViewBag.viewType == "login")
        {
            
        }
    </div>
</body>
</html>
