@{
    ViewBag.Title = "卷库网-分享试卷的乐趣！";
}

<div style="width: 25%; height: 100%; float: left; color:transparent">.</div>
<div style="position: fixed; text-align: center; width: 20%; background-color: #f7f7f7; height: auto; margin-top: 10px; ">
    <h3 style="font-family: 微软雅黑,汉仪仿宋简; color: #32cd32; opacity: 0.75">试卷筛选</h3>
    <hr style="margin-bottom: 0px; " />
    <ul class="nav nav-pills">
        <li><a href="#">人气高低</a></li>
        <li><a href="#">质量评分高低</a></li>
        <li><a href="#">难度评分高低</a></li>
        <li><a href="#">知识结构树</a></li>
    </ul>
</div>
<div style="float: left; width: 75%; height: auto; padding-left: 4%">
    <div class="hot-recommend">
        <a id="hot-paper" class="active col-md-3" style="text-align: center; " onclick="barToPaper()">
            <p style="font-family: 微软雅黑,汉仪仿宋简; font-size: 20px; margin-top: 10px;">热门试卷</p>
        </a>
        <a id="hot-teacher" class="col-md-3" style="text-align: center; " onclick="barToTeacher()">
            <p style="font-family: 微软雅黑,汉仪仿宋简; font-size: 20px;margin-top:10px;">热门教师</p>
        </a>
        <div class="col-md-12"></div>
        <div id="smartbar" class="col-md-3" style=" background-color: #32cd32; height: 4px; padding-top: 0px; margin-bottom: 0px; "></div>
        <hr class="col-md-12" style="padding-top: 0px; margin-top: 0px;" />
    </div>
    <img src="~/PicRes/content.png"/>
    <div style="height: 80px;">.</div>
</div>
<script type="text/javascript">
    function barToTeacher() {
        $("#smartbar").addClass("col-md-offset-3");
        $("#hot-paper").removeClass("active");
        $("#hot-teacher").addClass("active");
    }
    function barToPaper() {
        $("#smartbar").removeClass("col-md-offset-3");
        $("#hot-teacher").removeClass("active");
        $("#hot-paper").addClass("active");
    }
</script>