@{
    ViewBag.Title = "卷库网-分享试卷的乐趣！";
}

<div style="width: 25%; height: 100%; float: left; color:transparent">.</div>
<div style="position: fixed; text-align: center; width: 20%; background-color: #f7f7f7; height: auto; ">
    <h3 style="font-family: 汉仪综艺体简,汉仪粗黑简,汉仪仿宋简; color: #32cd32; opacity: 0.5">试卷筛选</h3>
    <hr style="margin-bottom: 0px; "/>
    <ul class="nav nav-pills">
        <li><a href="#">人气高低</a></li>
        <li><a href="#">质量评分高低</a></li>
        <li><a href="#">难度评分高低</a></li>
        <li><a href="#">知识结构树</a></li>
    </ul>
</div>
<div style="float: left; width: 75%; height: auto; padding-left: 4%">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#">热门教师</a></li>
        <li><a href="#">热门试卷</a></li>
    </ul> 
</div>
