body {
    padding-top: 50px;
    padding-bottom: 0px;
}

.body-content {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
    min-height: 480px;
}

input,
select,
textarea {
    clear: both;
    max-width: 480px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.nav-pills > li > a:hover {
    font-family: 汉仪综艺体简,汉仪粗黑简,汉仪仿宋简;
}