<div id="question" class="create-paper-col" style="height: auto; background-color: #e6e6e6; margin-top: 20px;">
    <table class=" table">
        @foreach (var question in ViewBag.Question)
        {
            <tr>
                <td>
                    @question
                </td>
            </tr>
        }
    </table>
</div>

