@if (ViewBag.isUpload == "true")
{
    int index = -1;
    <div id="upload-question" style="padding-top: 20px; clear: both;">
        @foreach (var question in ViewBag.questionList)
        {
            index++;
            <div class="create-paper-col" style="margin-top: 0px; padding-top: 5px; padding-bottom: 5px; border-top: solid 1px #e6e6e6; border-left: solid 1px #e6e6e6; border-right: solid 1px #e6e6e6; ">
                @question.content
            </div>
            <div class="create-paper-col" style="height: auto; background-color: #e6e6e6; margin-top: 0px; margin-bottom: 20px; ">
                <p style="padding-top: 7px; float: left; margin-right: 25px; color: #a4a4a4; font-family: 微软雅黑;">题型：</p>
                <select id="questionType-@index" style="padding-top: 7px; float: left; margin-right: 25px; color: #a4a4a4; font-family: 微软雅黑;">
                    <option>选择题</option>
                    <option>填空题</option>
                    <option>判断题</option>
                    <option>综合题</option>
                </select>
                <p style="padding-top: 7px; float: left; margin-right: 25px; color: #a4a4a4; font-family: 微软雅黑;">难度：</p>
                <select id="difficulty-@index" style="padding-top: 7px; float: left; margin-right: 25px; color: #a4a4a4; font-family: 微软雅黑;">
                    <option>简单</option>
                    <option>一般</option>
                    <option>困难</option>
                </select>
                <button class="question-button" style="text-decoration: none; float: right; margin-right: 25px; font-family: 微软雅黑; ">编辑答案</button>
                <textarea id="answer-@index" name="answer-@index" class=" col-md-offset-1 form-control" style="display: none; margin-top: 20px;" rows="3" placeholder="您觉得哪里有问题就写下来吧"></textarea>
            </div>
            <div id="showDetail" class="create-paper-col" style="margin-top: 0px;  padding-bottom: 5px; border-bottom: solid 1px #e6e6e6; border-left: solid 1px #e6e6e6; border-right: solid 1px #e6e6e6; ">
            </div>
        }
    </div>
}