<div id="upload-question" style="padding-top: 20px; clear: both;">
    @foreach (var question in ViewBag.uploadQuestion)
    {
        int ID = question.ID;
        string hardness;
        int difficulty = question.difficulty;
        switch (difficulty)
        {
            case 1: hardness = "容易"; break;
            case 2: hardness = "一般"; break;
            case 3: hardness = "难"; break;
            default: hardness = "待添加"; break;
        }
        <div class="create-paper-col" style="height: 35px; background-color: #e6e6e6; margin-top: 20px; margin-bottom: 0px;  ">
            <p style="padding-top: 7px; float: left; margin-right: 25px; color: #a4a4a4; font-family: 微软雅黑;">题型：填空题</p>
            <p style="padding-top: 7px; float: left; margin-right: 25px; color: #a4a4a4; font-family: 微软雅黑;">难度：@hardness</p>
            <p style="padding-top: 7px; float: left; margin-right: 25px; color: #a4a4a4; font-family: 微软雅黑;">组卷次数：<span style="color: red">0</span></p>
            <p style="padding-top: 7px; float: right; margin-right: 0px; color: #a4a4a4; font-family: 微软雅黑;">2014/11/11</p>
        </div>
        <div class="create-paper-col" style="margin-top: 0px; padding-top: 5px; padding-bottom: 5px; border-left: solid 1px #e6e6e6; border-right: solid 1px #e6e6e6; ">
            @question.content
        </div>
        <div id="showDetail" class="create-paper-col" style="margin-top: 0px;  padding-bottom: 5px; border-bottom: solid 1px #e6e6e6; border-left: solid 1px #e6e6e6; border-right: solid 1px #e6e6e6; ">
        </div>
    }

</div>