@model IEnumerable<AutoPaper.Models.question>

@{
    ViewBag.Title = "组卷系统-匹配结果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-md-12" style="text-align: center;">@ViewBag.PaperName</h2>

<table class="table-striped">
    <tr>
        <th>
            shijuan
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
        </tr>
    }
    </table>