@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "新试卷-卷库网";
}

<div id="assemble-intro" onmouseover="Mouse_in()" onmouseout="Mouse_out()" onclick="switchToAssemble()" style="cursor: pointer; display: none; position: fixed; width: auto; height: auto; background-color: #f7f7f7; ">
    <div id="assemble-description" style="position: fixed; display: none; width: 200px; background-color: #c1f0c1; ">
        <p style="font-family: 微软雅黑;">海量试题，任由您选择。全面的知识点，丰富的题型，灵活的难度组合，别致的出卷体验！</p>
    </div>
    <div style="width: 200px; height: 50px; background-color: #c1f0c1; text-align: center; ">
        <h3 style="font-family: 微软雅黑; padding-top: 10px; ">组卷系统</h3>
    </div>
    <div id="assemble-extend" style="background-color: #f7f7f7; width: 100%; height: auto; ">
        <img style="margin-left: 50px; opacity: 0.3; " src="~/PicRes/assemble-extend.png" />
    </div>
</div>
<div id="assemble-content" class="col-md-9" style="height: auto; background-color: #f7f7f7; padding-left: 0px; padding-right: 0px; padding-bottom: 40px; ">
    @using (Html.BeginForm("AssembleResult", "CreatePaperOrQuestion", FormMethod.Post, new { onsubmit = "return checkAll()" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div style="width: 300px; height: 75px; background-color: #c1f0c1; text-align: center; margin-top: 20px; margin-left: 0px; ">
            <h2 style="font-family: 微软雅黑; padding-top: 20px; ">组  卷  系  统</h2>
        </div>
        <div class="assemble-col" style="height: auto; background-color: #e6e6e6; padding-right: 0px; margin-top: 40px; ">
            <h4 class="col-md-3" style="font-family: 微软雅黑; font-weight: 600;">考点设置</h4>
            <div onclick="collapse_Extend1()" class="btn-extend"><h4 id="assemble-btn-extend1" style="text-align: center;">-</h4></div>
        </div>
        <div id="assemble-knowlwdge-setting" class="assemble-col" style="height: auto; background-color: #e6e6e6; ">
            <div style="margin-top: 20px;">
                <div style="padding-left: 18px;" class="checkbox">
                    <label style="font-family: 微软雅黑; font-weight: 600;">
                        <input onclick="assemble_select_all_knowledge()" id="assemble-select-all-knowledge" type="checkbox" />全 选
                    </label>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="col-md-3" style="text-align: center; background-color: #cfcfcf; height: auto; padding: 0px; margin-right: 5px; ">
                    <h4 style="font-family: 微软雅黑; background-color: #b9b9b9; margin: 0px; width: 100%; padding-top: 10px; padding-bottom: 10px; ">一级目录</h4>
                    <ul class="nav nav-knowledge-select">
                        <li><a>集合</a></li>
                        <li><a>命题</a></li>
                        <li><a>函数与映射</a></li>
                        <li><a>数列</a></li>
                        <li><a>不等式</a></li>
                        <li><a>排列组合</a></li>
                    </ul>
                </div>
                <div class="col-md-3" style="text-align: center; background-color: #cfcfcf; height: auto; padding: 0px; margin-right: 5px; ">
                    <h4 style="font-family: 微软雅黑; background-color: #b9b9b9; margin: 0px; width: 100%; padding-top: 10px; padding-bottom: 10px; ">二级目录</h4>
                    <ul class="nav nav-knowledge-select" id="assemble-knowledge-secondlist" style="height: 240px; overflow: auto;"></ul>
                </div>
                <div class="col-md-3" style="text-align: center; background-color: #cfcfcf; height: auto; padding: 0px; margin-right: 5px; ">
                    <h4 style="font-family: 微软雅黑; background-color: #b9b9b9; margin: 0px; width: 100%; padding-top: 10px; padding-bottom: 10px; ">三级目录</h4>
                    <ul class="nav nav-knowledge-select" id="assemble-knowledge-thirdlist" style="height: 240px; overflow: auto;"></ul>
                </div>
                <div style="float: left; width: 22%; text-align: center; ">
                    <div id="assemble-knowledge-add" class="assemble-knowledge-add"><h4>添 加</h4></div>
                    <p id="assemble-knowledge-buffer-select" style="font-family: 微软雅黑; margin-top: 20px; "></p>
                </div>
            </div>
            <div id="knowledge-Label" class=" col-md-12" style="padding-left: 0px; margin-left: 0px; height: auto; margin-top: 20px; margin-bottom: 20px; margin-right: 20px; "></div>
            <input id="assemble-knowledge-value" name="assemble-knowledge-value" type="hidden" value="" />
        </div>
        <div class="assemble-col" style="height: auto; background-color: #e6e6e6; padding-right: 0px; margin-top: 40px; ">
            <h4 class="col-md-3" style="font-family: 微软雅黑; font-weight: 600;">试卷内容设置</h4>
            <div onclick="collapse_Extend2()" class="btn-extend"><h4 id="assemble-btn-extend2" style="text-align: center;">-</h4></div>
        </div>
        <div id="assemble-paper-setting" class="assemble-col" style="height: auto; background-color: #e6e6e6;">
            <div class="form-group" style="margin-top: 20px; text-align: center;">
                <label for="assemble-paper-total-score" class="col-sm-2 control-label" style="font-family: 微软雅黑; font-size: 18px; font-weight: 400; background-color: #b9b9b9; padding: 10px 20px 10px 20px; ">卷 名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="assemble-paper-name" name="assemble-paper-name" style="margin-top: 5px;" placeholder="请输入试卷名">
                </div>
            </div>
            <div class="col-sm-12"></div>
            <div style=" text-align: center; ">
                <label class="control-label col-sm-2" style="margin-top: 20px; font-family: 微软雅黑; font-size: 18px; font-weight: 400; background-color: #b9b9b9; padding: 10px 20px 10px 20px; ">题 目</label>
                <p id="assemble-paper-total-score" class="col-sm-6" style="margin-top: 20px; margin-left: 110px; font-family: 微软雅黑; color: #777777; font-size: 18px; font-weight: 400; background-color: #d3d3d3; padding: 10px 20px 10px 20px; ">分数总和为：0</p>
                <div class="form-group" style="text-align: center;">
                    <div class="col-sm-offset-3 col-sm-2" style="margin-top: 10px; ">
                        <div class="checkbox">
                            <label style="font-family: 微软雅黑; font-size: 18px; font-weight: 400;">
                                <input type="checkbox" id="assemble-paper-choice-bool" onclick="enableInput1();totalScore();" style="margin-top: 7px;"> 选择题
                            </label>
                        </div>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 15px;">
                        <input class="form-control" type="number" id="assemble-paper-choice-count" name="assemble-paper-choice-count" onchange="totalScore()" title="该题型数量" placeholder="题量" min="1" disabled>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 15px;">
                        <input class="form-control" type="number" id="assemble-paper-choice-score" name="assemble-paper-choice-score" onchange="totalScore()" title="每题的分值" placeholder="分值" min="1" disabled>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 15px;">
                        <input class="form-control" type="number" id="assemble-paper-choice-order" name="assemble-paper-choice-order" onchange="totalScore()" title="确定本类型题目在试卷中是第几大题" placeholder="次序" min="1" max="4" disabled>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="form-group" style="margin-top: 20px; text-align: center;">
                    <div class="col-sm-offset-3 col-sm-2">
                        <div class="checkbox">
                            <label style="font-family: 微软雅黑; font-size: 18px; font-weight: 400;">
                                <input type="checkbox" id="assemble-paper-fill-in-blanks-bool" onclick="enableInput2();totalScore();" style="margin-top: 7px;"> 填空题
                            </label>
                        </div>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 7px;">
                        <input class="form-control" type="number" id="assemble-paper-fill-in-blanks-count" name="assemble-paper-fill-in-blanks-count" onchange="totalScore()" title="该题型数量" placeholder="题量" min="1" disabled>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 7px;">
                        <input class="form-control" type="number" id="assemble-paper-fill-in-blanks-score" name="assemble-paper-fill-in-blanks-score" onchange="totalScore()" title="每题的分值" placeholder="分值" min="1" disabled>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 7px;">
                        <input class="form-control" type="number" id="assemble-paper-fill-in-blanks-order" name="assemble-paper-fill-in-blanks-order" title="确定本类型题目在试卷中是第几大题" placeholder="次序" min="1" max="4" disabled>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="form-group" style="margin-top: 20px; text-align: center;">
                    <div class="col-sm-offset-3 col-sm-2">
                        <div class="checkbox">
                            <label style="font-family: 微软雅黑; font-size: 18px; font-weight: 400;">
                                <input type="checkbox" id="assemble-paper-judge-bool" onclick="enableInput3();totalScore();" style="margin-top: 7px;"> 判断题
                            </label>
                        </div>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 7px;">
                        <input class="form-control" type="number" id="assemble-paper-judge-count" name="assemble-paper-judge-count" onchange="totalScore()" title="该题型数量" placeholder="题量" min="1" disabled>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 7px;">
                        <input class="form-control" type="number" id="assemble-paper-judge-score" name="assemble-paper-judge-score" onchange="totalScore()" title="每题的分值" placeholder="分值" min="1" disabled>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 7px;">
                        <input class="form-control" type="number" id="assemble-paper-judge-order" name="assemble-paper-judge-order" title="确定本类型题目在试卷中是第几大题" placeholder="次序" min="1" max="4" disabled>
                    </div>
                </div>
                <div class="col-sm-12"></div>
                <div class="form-group" style="margin-top: 20px; text-align: center;">
                    <div class="col-sm-offset-3 col-sm-2" style="margin-bottom: 20px;">
                        <div class="checkbox">
                            <label style="font-family: 微软雅黑; font-size: 18px; font-weight: 400;">
                                <input type="checkbox" id="assemble-paper-synthesize-bool" onclick="enableInput4();totalScore();" style="margin-top: 7px;"> 解答题
                            </label>
                        </div>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 7px;">
                        <input class="form-control" type="number" id="assemble-paper-synthesize-count" name="assemble-paper-synthesize-count" onchange="totalScore()" title="该题型数量" placeholder="题量" min="1" disabled>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 7px;">
                        <input class="form-control" type="number" id="assemble-paper-synthesize-score" name="assemble-paper-synthesize-score" onchange="totalScore()" title="每题的分值" placeholder="分值" min="1" disabled>
                    </div>
                    <div class=" col-sm-2" style="margin-top: 7px;">
                        <input class="form-control" type="number" id="assemble-paper-synthesize-order" name="assemble-paper-synthesize-order" title="确定本类型题目在试卷中是第几大题" placeholder="次序" min="1" max="4" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="assemble-col" style="height: auto; background-color: #e6e6e6; padding-right: 0px; margin-top: 40px; ">
            <h4 class="col-md-3" style="font-family: 微软雅黑; font-weight: 600;">难度分布设置</h4>
            <div onclick="collapse_Extend3()" class="btn-extend"><h4 id="assemble-btn-extend3" style="text-align: center;">-</h4></div>
        </div>
        <div id="assemble-hardness-setting" class="assemble-col" style="height: auto; background-color: #e6e6e6;">
        <div class="form-group" style="margin-top: 20px; text-align: center; ">
            <label class="col-sm-3 control-label" style="font-family: 微软雅黑; font-size: 18px; font-weight: 400; background-color: #b9b9b9; padding: 10px 20px 10px 20px; ">简单题占比</label>
            <label id="assemble-hardness-easy-count" class="col-sm-1 control-label" style="font-family: 微软雅黑; font-size: 18px; font-weight: 400; background-color: #d3d3d3; padding: 10px 20px 10px 20px; ">5</label>
            <div class="col-sm-7" style="padding-top: 15px;">
                <input type="range" id="assemble-hardness-easy" name="assemble-hardness-easy" onchange="changeValue1()" min="0" max="10" />
            </div>
        </div>
        <div class="col-sm-12"></div>
        <div class="form-group" style="margin-top: 20px; text-align: center; ">
            <label class="col-sm-3 control-label" style="font-family: 微软雅黑; font-size: 18px; font-weight: 400; background-color: #b9b9b9; padding: 10px 20px 10px 20px; ">中档题占比</label>
            <label id="assemble-hardness-medium-count" class="col-sm-1 control-label" style="font-family: 微软雅黑; font-size: 18px; font-weight: 400; background-color: #d3d3d3; padding: 10px 20px 10px 20px; ">5</label>
            <div class="col-sm-7" style="padding-top: 15px;">
                <input type="range" id="assemble-hardness-medium" name="assemble-hardness-medium" onchange="changeValue2()" min="0" max="10" />
            </div>
        </div>
        <div class="col-sm-12"></div>
        <div class="form-group" style="text-align: center; ">
            <label class="col-sm-3 control-label" style="font-family: 微软雅黑; font-size: 18px; font-weight: 400; background-color: #b9b9b9; padding: 10px 20px 10px 20px; ">困难题占比</label>
            <label id="assemble-hardness-hard-count" class="col-sm-1 control-label" style="font-family: 微软雅黑; font-size: 18px; font-weight: 400; background-color: #d3d3d3; padding: 10px 20px 10px 20px; ">5</label>
            <div class="col-sm-7" style="padding-bottom: 40px; padding-top: 15px;">
                <input type="range" id="assemble-hardness-hard" name="assemble-hardness-hard" onchange="changeValue3()" min="0" max="10" />
            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-2" style="margin-top: 40px;">
                <button type="submit" class="button button-flat-primary" style="font-family: 微软雅黑; ">提 交</button>
            </div>
            <div class="col-sm-2" style="margin-top: 40px;">
                <button type="reset" class="button button-flat-highlight" style="cursor: pointer; font-family: 微软雅黑; ">重 置</button>
            </div>
        </div>
    }
</div>
<div id="upload-intro" onmouseover="Mouse_in()" onmouseout="Mouse_out()" onclick="switchToUpload()" style="cursor: pointer; position: fixed; right: 11%; width: auto; height: auto; background-color: #f7f7f7; ">
    <div id="upload-description" style="position: fixed; display: none; width: 200px; background-color: #fccc8a; ">
        <p style="font-family: 微软雅黑;">上传您的试卷，将资源与大家共享，加强交流，与名师一同探讨教研经验！</p>
    </div>
    <div style="width: 200px; height: 50px; background-color: #fccc8a; text-align: center; ">
        <h3 style="font-family: 微软雅黑; padding-top: 10px; ">上传试卷</h3>
    </div>
    <div id="upload-extend" style="background-color: #f7f7f7; width: 100%; height: auto; ">
        <img style="margin-left: 50px; opacity: 0.3; " src="~/PicRes/upload-extend.png" />
    </div>
</div>
<div id="upload-content" class="col-md-offset-3 col-md-9" style="display: none; float: right; height: 400px; padding-left: 4%; background-color: #f7f7f7; ">
    upload-content
</div>
<script type="text/javascript">
    function switchToUpload() {
        $("#assemble-content").toggle(400);
        $("#upload-intro").hide();
        $("#assemble-intro").show(400);
        $("#upload-content").toggle(400);
    }
    function switchToAssemble() {
        $("#upload-content").toggle(400);
        $("#assemble-intro").hide();
        $("#upload-intro").show(400);
        $("#assemble-content").toggle(400);
    }
    function Mouse_in() {
        $("#assemble-description,#upload-description").show();
        $("#assemble-extend > img,#upload-extend > img").css("opacity",1);
    }

    function Mouse_out() {
        $("#assemble-description,#upload-description").hide();
        $("#assemble-extend > img,#upload-extend > img").css("opacity", 0.3);
    }
</script>@*组卷与上传之间的切换*@
<script type="text/javascript">
    function collapse_Extend1() {
        $("#assemble-knowlwdge-setting").slideToggle(200);
        if ($("#assemble-btn-extend1").html() == "+")
            $("#assemble-btn-extend1").html("-");
        else
            $("#assemble-btn-extend1").html("+");
    }
    function collapse_Extend2() {
        $("#assemble-paper-setting").slideToggle(200);
        if ($("#assemble-btn-extend2").html() == "+")
            $("#assemble-btn-extend2").html("-");
        else
            $("#assemble-btn-extend2").html("+");
    }
    function collapse_Extend3() {
        $("#assemble-hardness-setting").slideToggle(200);
        if ($("#assemble-btn-extend3").html() == "+")
            $("#assemble-btn-extend3").html("-");
        else
            $("#assemble-btn-extend3").html("+");
    }
</script>@*组卷系统内设置的展开与折叠*@
<script type="text/javascript">
    function assemble_select_all_knowledge() {
        if ($("#assemble-select-all-knowledge").prop("checked") == true) {
            $("#assemble-knowledge-value").attr("value", "集合 命题 函数与映射 数列 不等式 排列组合");
            $("#assemble-knowledge-add").prop("disabled", true);
            $("<p style=\"font-family: 微软雅黑; font-size: large; margin-left: 20px; cursor: pointer; float: left; \"><span class=\"label label-default\">集合</span></p>").appendTo($("#knowledge-Label"));
            $("<p style=\"font-family: 微软雅黑; font-size: large; margin-left: 20px; cursor: pointer; float: left; \"><span class=\"label label-default\">命题</span></p>").appendTo($("#knowledge-Label"));
            $("<p style=\"font-family: 微软雅黑; font-size: large; margin-left: 20px; cursor: pointer; float: left; \"><span class=\"label label-default\">函数与映射</span></p>").appendTo($("#knowledge-Label"));
            $("<p style=\"font-family: 微软雅黑; font-size: large; margin-left: 20px; cursor: pointer; float: left; \"><span class=\"label label-default\">数列</span></p>").appendTo($("#knowledge-Label"));
            $("<p style=\"font-family: 微软雅黑; font-size: large; margin-left: 20px; cursor: pointer; float: left; \"><span class=\"label label-default\">不等式</span></p>").appendTo($("#knowledge-Label"));
            $("<p style=\"font-family: 微软雅黑; font-size: large; margin-left: 20px; cursor: pointer; float: left; \"><span class=\"label label-default\">排列组合</span></p>").appendTo($("#knowledge-Label"));
        }
        else {
            $("#assemble-knowledge-add").prop("disabled", false);
            $("#knowledge-Label").empty();
        }
    }
</script>@*考点设置*@
<script type="text/javascript">
    function enableInput4() {
        if ($("#assemble-paper-synthesize-bool").prop("checked") == true){
            $("#assemble-paper-synthesize-count,#assemble-paper-synthesize-score,#assemble-paper-synthesize-order").prop("disabled", false);
            $("#assemble-paper-synthesize-count,#assemble-paper-synthesize-score,#assemble-paper-synthesize-order").val("1");
        }
        else {
            $("#assemble-paper-synthesize-count,#assemble-paper-synthesize-score,#assemble-paper-synthesize-order").val("");
            $("#assemble-paper-synthesize-count,#assemble-paper-synthesize-score,#assemble-paper-synthesize-order").prop("disabled", true);
        }
    }
    function enableInput3() {
        if ($("#assemble-paper-judge-bool").prop("checked") == true){
            $("#assemble-paper-judge-count,#assemble-paper-judge-score,#assemble-paper-judge-order").prop("disabled", false);
            $("#assemble-paper-judge-count,#assemble-paper-judge-score,#assemble-paper-judge-order").val("1");
        }
        else {
            $("#assemble-paper-judge-count,#assemble-paper-judge-score,#assemble-paper-judge-order").val("");
            $("#assemble-paper-judge-count,#assemble-paper-judge-score,#assemble-paper-judge-order").prop("disabled", true);
        }
    }
    function enableInput2() {
        if ($("#assemble-paper-fill-in-blanks-bool").prop("checked") == true){
            $("#assemble-paper-fill-in-blanks-count,#assemble-paper-fill-in-blanks-score,#assemble-paper-fill-in-blanks-order").prop("disabled", false);
            $("#assemble-paper-fill-in-blanks-count,#assemble-paper-fill-in-blanks-score,#assemble-paper-fill-in-blanks-order").val("1");
        }
        else {
            $("#assemble-paper-fill-in-blanks-count,#assemble-paper-fill-in-blanks-score,#assemble-paper-fill-in-blanks-order").val("");
            $("#assemble-paper-fill-in-blanks-count,#assemble-paper-fill-in-blanks-score,#assemble-paper-fill-in-blanks-order").prop("disabled", true);
        }
    }
    function enableInput1() {
        if ($("#assemble-paper-choice-bool").prop("checked") == true){
            $("#assemble-paper-choice-count,#assemble-paper-choice-score,#assemble-paper-choice-order").prop("disabled", false);
            $("#assemble-paper-choice-count,#assemble-paper-choice-score,#assemble-paper-choice-order").val("1");
        }
        else {
            $("#assemble-paper-choice-count,#assemble-paper-choice-score,#assemble-paper-choice-order").val("");
            $("#assemble-paper-choice-count,#assemble-paper-choice-score,#assemble-paper-choice-order").prop("disabled", true);
        }
    }
    function totalScore() {
        var count1 = count2 = count3 = count4 = 0;
        var score1 = score2 = score3 = score4 = 0;
        if ($("#assemble-paper-choice-bool").prop("checked") == true) {
            count1 = $("#assemble-paper-choice-count").val();
            score1 = $("#assemble-paper-choice-score").val();
        }
        if ($("#assemble-paper-fill-in-blanks-bool").prop("checked") == true) {
            count2 = $("#assemble-paper-fill-in-blanks-count").val();
            score2 = $("#assemble-paper-fill-in-blanks-score").val();
        }
        if ($("#assemble-paper-judge-bool").prop("checked") == true) {
            count3 = $("#assemble-paper-judge-count").val();
            score3 = $("#assemble-paper-judge-score").val();
        }
        if ($("#assemble-paper-synthesize-bool").prop("checked") == true) {
            count4 = $("#assemble-paper-synthesize-count").val();
            score4 = $("#assemble-paper-synthesize-score").val();
        }
        var total= count1 * score1 + count2 * score2 + count3 * score3 +count4 * score4;
        $("#assemble-paper-total-score").html("分数总和为：" +total);
    }
</script>@*试卷内容设置*@
<script type="text/javascript">
    function changeValue1() {
        $("#assemble-hardness-easy-count").html($("#assemble-hardness-easy").val());
    }
    function changeValue2() {
        $("#assemble-hardness-medium-count").html($("#assemble-hardness-medium").val());
    }
    function changeValue3() {
        $("#assemble-hardness-hard-count").html($("#assemble-hardness-hard").val());
    }
</script>@*难度分布设置*@
<script type="text/javascript">
    function checkAll() {
        var order= new Array(4);
        order[0] = $("#assemble-paper-choice-order").val();
        order[1] = $("#assemble-paper-fill-in-blanks-order").val();
        order[2] = $("#assemble-paper-judge-order").val();
        order[3] = $("#assemble-paper-synthesize-order").val();
        var reiteration = new Array(false,false,false,false);
        for (var i = 0; i < 4; i++) {
            if (reiteration[oreder[i] - 1] == false)
                reiteration[oreder[i] - 1] = true;
            else
                return false;
        }
        if ($("#assemble-knowledge-value").val() == null)
            $("#assemble-knowledge-value").val("all-knowledge");
        return true;
    }
</script>@*组卷系统表单脚本验证*@