@using Microsoft.AspNet.Identity
@if (Request.Cookies["userID"] != null)
{

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("您好，来出张试卷吧！", "Index", "CreatePaperOrQuestion")
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a onclick="onlyShowLogin()" style="cursor: pointer;">登陆</a></li>
        <li><a onclick="onlyShowRegister()" style="cursor: pointer;">注册</a></li>      
    </ul>
}